<% if user_signed_in? %>
<div class="d-flex justify-content-center pb-3 pt-3">
 <%= link_to 'CREATE ALBUM', new_album_path, :class => 'btn btn-md btn-outline-secondary' %>
 <%= link_to 'VIEW ALBUM', albums_path, :class => 'btn btn-outline-secondary btn-md' %> 
</div>
<% else %>

  <%= render 'albums/main' , albums: @albums %> 



<% end %>